/* font-family: 'Josefin Sans', sans-serif; <--- Paragraph Text */
/* font-family: 'Rubik', sans-serif; <--- Header Text */

* {
    box-sizing: border-box;
}
h1, h3, h4 {
    font-family: 'Rubik', sans-serif;
    color: black;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    
    padding: 10px 0 20px 0;
}  
#portfolio {
    margin: 30px 0;
    text-align: center;
}  
html, body {
    margin: 0;
}
h1 {
    margin: 0;
    padding: 40px 0 10px 0;
}
p {
    width: 90%;
    margin: auto;
}
#main-header {
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 10px;
}
.nav-item {
    background-color: white;
    margin: 10px 10px;
    align-items: center;
    padding: 10px 0;
    color: black;
}
.flex-list {
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
}
.intro {
    margin: 0 10px;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.portfolio-pic {
    width: 90%;
}
.profile-pic {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 20px;
}
#skills {
    margin: auto;
}
footer {
    background-color: #f2f2f2;
}
.footer-list {
    list-style-type: none;
}
#contact {
    text-align: center;
    padding-top: 20px;
    width: 90%;
    margin: auto;
}
hr {
    width: 90%;
}
.page-bottom {
    display: flex;
    padding: 19px;
    justify-content: space-between;   
}
#top {
    text-transform: uppercase;
}
.page-bottom-2 {
    display: none;

}

/*--- Media Queries ---*/

@media screen and (min-width: 768px) {
    .flex-item {
      justify-content: space-around;
      flex: 1 40%;  
    }
    .flex-list {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .nav-item {
        background-color: #f2f2f2;
        padding: 0 10px;
    }
    .header-card {
        display: flex;
        flex-direction: row-reverse;
        font-size:x-large;
    }
    .profile-pic {
        width: 40%;
        padding-right: 40px; 
    }
    .intro {
        padding-top: 80px;
    }
    .page-bottom{
        display: none;
    }
    .page-bottom-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 50px;
        
    }
    .footer-list{
        display: flex;
        padding-bottom: 10px;
    }
    .footer-link{
        display: flex;
        padding: 20px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1024px) {
    .flex-item {
        flex: 1 30%;
    }
   .nav-bar {
       display: flex;
       justify-content: space-between;
   }
   .profile-pic {
       width: 65%;
   }
   img {
       transition: .5s;
   }
   img:hover {
       transform: scale(1.1);
       transition: .5s;
   }
   .nav-item:hover {
       color: rgb(41, 179, 233);
       transition: .5s;
   }
   .nav-item {
       transition: .5s;
       padding-right: 40px;
   }
   .header-card {
       padding: 0 40px;
   }
   h1 {
       padding-left: 40px; 
   }
}